// Заголовки, общие БЄМ блоки и проче...

.page {
   .scroll-top {
      width: rem(30);
      height: rem(30);
      display: flex;
      justify-content: end;
      background-color: $redColor;
      border-radius: rem(21);
      position: fixed;
      bottom: 4%;
      right: 1%;
      opacity: 0.4;
      cursor: pointer;
      @media (max-width:$mobile){
          opacity: 0.2;
          bottom: 2%; 
      }
   }
   .arrow{
      padding: 0 rem(1) rem(3) 0;
   }
   &__creator {
   }
}
.creator-block {
   &__container {
   }

   &__chapter {
      display: flex;
      justify-content: center;
      padding: rem(40) 0;
      font-size: rem(24);
      position: relative;
      z-index: -1;
   }
   .image-berserk {
      display: block;
      margin: 0 auto;
      width: 45%;
      object-fit: contain;
      position: absolute;
      z-index: -1;
      opacity: 0.2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @media (max-width: $tablet) {
         width: 90%;
      }
   }

   &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: rem(40) 0;
      font-size: rem(19);
      background-color: $redColor;
      height: rem(40);
      font-weight: 700;
      flex-wrap: wrap;
   }

   &__image {
      display: block;
      margin: 0 auto;
      width: 100%;
      border: 3px solid #fff;
   }

   &__text {
      z-index: -1;
      position: relative;
      padding: rem(0) 0 rem(40) rem(0);
      font-size: rem(24);
   }
}

//========================================================================================================================================================
.page {
   &__characters {
   }
}
.characters-block {
   &__container {
   }

   &__image-character {
      margin-top: rem(50);
      display: block;
      max-width: 100%;
      max-height: 100%;
   }

   &__title {
      text-align: center;
      margin: rem(40) 0;
      font-weight: 700;
      flex-wrap: wrap;
      line-height: 1.5;
      font-size: rem(25);
      span {
         color: $redColor;
         @media (any-hover: hover) {
            &:hover {
               color: #993d48;
               cursor: pointer;
            }
         }
      }
   }

   &__subtitle {
      text-align: center;
      margin: rem(40) 0;
      font-weight: 400;
      flex-wrap: wrap;
      font-size: rem(20);
   }
}

.spollers {
   &__item {
   }

   &__content {
      padding-top: rem(30);
      align-items: center;
      gap: rem(30);
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;
      font-size: rem(20);
      span {
         color: $redColor;
      }
   }

   &__title {
      border: 4px solid #fff;
      border-radius: rem(5);
      border-style: outset;
   }

   &__body {
      max-width: rem(340);
      text-align: center;
   }
}

//========================================================================================================================================================

.story-block {
   &__container {
   }
}
.story-block {
   &__chapter {
      display: flex;
      justify-content: center;
      padding: rem(40) 0;
      font-size: rem(24);
   }

   &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: rem(40) 0;
      font-size: rem(20);
      background-color: $redColor;
      height: rem(40);
      font-weight: 700;
      flex-wrap: wrap;
      z-index: 122;
   }

   &__subtitle {
      position: relative;
      text-align: center;
      margin: rem(40) 0 rem(100);
      font-weight: 700;
      flex-wrap: wrap;
      font-size: rem(27);
      line-height: 1.5;
      @media (max-width: $tablet) {
         z-index: -1;
      }
      a {
         color: $redColor;
         @media (any-hover: hover) {
            &:hover {
               color: #993d48;
            }
         }
      }
   }

   .image-behelit {
      display: block;
      margin: 0 auto;
      width: 40%;
      object-fit: contain;
      position: absolute;
      z-index: -1;
      opacity: 0.2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @media (max-width: $tablet) {
         width: 100%;
      }
   }

   &__text {
      z-index: -1;
      position: relative;
      padding: rem(0) 0 rem(30) rem(0);
      font-size: rem(24);
      line-height: 1.3;
   }
}

.spollers-story {
   display: flex;
   justify-content: center;

   &__item {
   }

   &__title {
      text-transform: uppercase;
      font-size: rem(18);
      line-height: 0.7;
      padding: rem(15);
      background-color: $redColor;
      width: 100%;
      border-radius: rem(90);
   }
   span {
      color: $redColor;
      text-transform: uppercase;
   }
   &__body {
   }
}

//========================================================================================================================================================

.meaning-block {
   &__container {
   }

   &__chapter {
      display: flex;
      justify-content: center;
      padding: rem(100) 0 rem(40) 0;
      font-size: rem(24);
   }

   &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: rem(40) 0;
      font-size: rem(20);
      background-color: $redColor;
      height: rem(40);
      font-weight: 700;
      flex-wrap: wrap;
   }

   &__text {
      z-index: -1;
      padding: rem(0) 0 rem(30) rem(0);
      font-size: rem(24);
      line-height: 1.3;
   }
   .image-guts {
      display: block;
      margin-left: 0 auto;
      width: 30%;
      position: absolute;
      z-index: -1;
      opacity: 0.2;

      @media (max-width: $tablet) {
         width: 90%;
      }
   }
}

//========================================================================================================================================================

.soundtrack-block {
   &__container {
   }

   &__chapter {
      display: flex;
      justify-content: center;
      padding: rem(100) 0 rem(40) 0;
      font-size: rem(24);
   }

   &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: rem(40) 0 rem(70) 0;
      font-size: rem(20);
      background-color: $redColor;
      height: rem(40);
      font-weight: 700;
      flex-wrap: wrap;
   }

   &__text {
      z-index: -1;
      padding: rem(0) 0 rem(30) rem(0);
      font-size: rem(24);
      line-height: 1.3;
      text-align: center;
   }

   &__subtitle {
      text-align: center;
      font-size: rem(22);
      color: #c62437;
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: rem(30);
   }
}

.audio-content {
   padding: rem(30) 0;
   display: flex;
   position: relative;
   justify-content: center;
   margin: 0 auto;
   column-width: 14em;
   column-gap: 2em;
   max-width: 70%;
   gap: rem(90);
   column-rule: 1px solid rgb(255, 255, 255);
   flex-wrap: wrap;
   text-transform: uppercase;
   font-size: rem(18);
   color: #fff;
   font-weight: 700;
}
