//====================================================================================================
.header {
	@include adaptiveValue("padding-top", 10, 5);
	@include adaptiveValue("padding-bottom", 10, 5);
	&__container {
		display: flex;
		align-items: flex-start;
	}
	&__actions {
		padding: rem(25) rem(10);
		display: flex;
		justify-content: end;
		align-items: flex-end;
	}

	&__logo {
		position: relative;
		z-index: 5;
	}

	&__menu {
		flex: 1 1 auto;
	}
}
.menu {
	padding: 0 0 0 rem(30);
	&__icon {
		align-items: flex-end;
	}

	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			transition: all 0.3s ease 0s;
			overflow: auto;
			background-color: $redColor;

			&::before {
				content: "";
				position: fixed;
				top: 0;
				left: -100%;
				transition: all 0.3s ease 0s;
				width: 100%;
				background-color: black;
				z-index: 2;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}

	&__list {
		display: flex;
		justify-content: end;
		align-items: flex-end;
		flex-wrap: wrap;
		@include adaptiveValue("gap", 60, 20);
		padding: rem(31) rem(10) 0 0;
		@media (max-width: $tablet) {
			padding: rem(157) rem(10) 0 0;
			flex-direction: column;
			text-align: center;
			align-items: center;
		}
	}

	&__item {
	}

	&__link {
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 36, 30);
		}
		transition: all 0.2s ease-in 0s;

		&:hover {
			color: $redColor;

			&:hover {
				text-shadow: 0px 0 4px #000, 0 1px 12px #000, -1px 0 1px #000;
			}
		}
	}
}

//========================================================================================================================================================


.sub-menu-catalog {
	padding-top: rem(20);
	z-index: 100;
	@media (max-width: $tablet) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $redColor;
		padding: rem(25) rem(15) rem(50) rem(15);
		transition: left 0.3s ease 0s;
		.sub-menu-open & {
			display: block;
			left: 0;
			z-index: 6;
		}
	}
	&__back {
		display: none;
		@media (max-width: $tablet) {
			margin: 0 auto;
			display: block;
			margin-top: rem(15);
			font-size: rem(24);
		}
	}
	&__container {
		background-color: $redColor;
		border-radius: rem(50);
	}

	.berserk-image {
		width: rem(200);
		object-fit: cover;
		opacity: 0.08;
	}

	&__block {
		display: none;

		&._sub-menu-open {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			@media (max-width: $tablet) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: rem(35) 0 0 0;
			}
		}
	}

	&__category {
		font-size: rem(18);
		transition: all 0.3s ease-in 0s;
		@media (any-hover: hover){
			&:hover{
				color: #000;
			}
		}
		@include adaptiveValue("font-size", 18, 14, 1920, 992, 1);

		@media (min-width: $tablet) {
			font-weight: 700;
			padding: rem(30) rem(15) rem(30) 0px;
		}
		@media (max-width: $tablet) {
			&:not(:last-child) {
				margin-bottom: em(25, 16);
			}
		}
	}

	&__link-category {
		@media (max-width: $tablet) {
			font-size: rem(24);
		}
		@media (max-width: $mobile) {
			font-size: rem(24);
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: flex;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: rgb(255, 255, 255);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
